@import url(//fonts.googleapis.com/css?family=Open+Sans);
body {
	font-family: 'Open Sans';
	font-size: 20;
}

#tab {
	font-size: 14;
	text-align: left;
	border-collapse: collapse;
}

#elem {
	border: 1px solid;
	text-align: left;
	padding: 15px;
}