<head>
	<title>База данных</title>
	<script type="text/javascript" src="../static/script/jquery.js"></script>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<center>

		<form name="Bases" action="/" method='POST'>

			<font size=3>
				<table>
					
					<tr>
						Таблица:
						<select name="TableChooser">

							{% for tab in tables %}
								<option value="{{ tab }}" 
									{% if curtable == tab %}
										SELECTED
									{% endif %}
								>{{ tab }}</option>
							{% endfor %}

						</select>

					</tr>

					<tr>
						Оператор:
						<select name="TableQueryComparation">
							{% for cmp in cmptypes %}
								<option value="{{ cmp }}" 
									{% if cmptype == cmp %}
										SELECTED
									{% endif %}
								>{{ cmp }}</option>
							{% endfor %}
						</select>
					</tr>

					<tr>
						Количество элементов на страницу:
						<select name="TablePageSizes">
							{% for size in sizes %}
								<option value="{{ size }}" 
									{% if cursize == size %}
										SELECTED
									{% endif %}
								>{{ size }}</option>
							{% endfor %}
						</select>
					</tr>

				</table>
				

			</font>
			<button name="GenerateTable" type="submit">Перейти</button>
			<p></p>

			<p>Запросы:</p>
			<table>
				{% for i in range(qcount) %}
					<tr>

						<td>
							<select name="QueryColumn{{ i|safe }}">
								{% for k in range(titles|length) %}
									<option value="{{ titles[k] }}"
										{% if i < queries|length and queries[i] != -1 and titles_origin[k] == queries[i].column %}
											SELECTED
										{% endif %}
									>
										{{ titles[k] }}
									</option>
								{% endfor %}
							</select>
						</td>					

						<td>
							<select name="QueryCmp{{ i|safe }}">
								{% for cmp in compares %}
									<option value="{{ cmp }}"
										{% if i < queries|length and queries[i] != -1 and cmp == queries[i].cmp_char %}
											SELECTED
										{% endif %}
									>
										{{ cmp }}
									</option>
								{% endfor %}
							</select>
						</td>

						<td>
							<input name="QueryValue{{ i|safe }}" value=
								{% if i < queries|length and queries[i] != -1 %}
									"{{queries[i].value}}"
								{% else %}
									""
								{% endif %}

							/>
						</td>

						<td>
							{% if i == 0 %}

								<button name="Plus" type="submit">+</button>

							{% endif %}

							{% if realqcount > 0 or i > 0 %}

								<button name="Minus{{i}}" type="submit">-</button>

							{% endif %}

						</td>
					</tr>
				{% endfor %}
			</table>

			<button name="GenerateTable" type="submit">Составить запрос</button>
			<p></p>

			<table>
				<col width="20%">

				<tr>
					<td align="right">
						<button name="SchedOverview" type="submit">Перейти к обзору расписания</button>
					</td>
				</tr>
				{% if isedit %}
					<tr>
						<td align="right">
							<button name="ModeChanger" type="submit">Выйти из режима редактирования</button>
						</td>
					</tr>
					<tr>
						<td align="right">
							<button name="AddRecord" type="submit">Добавить запись</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td align="right">
							<button name="ModeChanger" type="submit">Перейти в режим редактирования</button>
						</td>
					</tr>
				{% endif %}
			</table>


			{% if curtable %}
				<h1>Запрос {{ curtable }}</h1>
				<table id="tab" class="elem">

					{% for width in widthes%}
						<col width="{{ width }}">
					{% endfor %}
					
					<tr>

						{% for i in range(titles|length) %}

							<th>
								<p align="center">
									<button name="Title{{ titles_origin[i] }}" type="submit">{{ titles[i] }}</button>
									{% if titles_origin[i] == orderby and ordertype == "+" %}
										↓
									{% elif titles_origin[i] == orderby and ordertype == "-" %}
										↑
									{% endif %}
								</p>
							</th>

						{% endfor %}

						{% if isedit %}
							
							<th>
								<p align="center">
									Редактор
								</p>
							</th>

						{% endif %}

						{% for items in containing %}
							<tr>
								{% for item in items %}
									
									<td>
										{{ item|safe }}
									</td>

								{% endfor %}

								{% if isedit %}
									<td>

										<button name="EditR{{items}}" type="submit">
											<font size="5">
												✎
											</font>
										</button>

										<button name="Delete{{items}}" type="submit">
											<font size="5">
												⨯
											</font>
										</button>
									</td>


								{% endif %}
						
							</tr>
						{% endfor %}
					</tr>

				</table>

			{% else %}
				<h1>Данная страница пуста</h1>

			{% endif %}
			
			<p><font size=3>Страница {{ curpage }}</font></p>
			<p><font size=2>{{ low }}-{{ high }} из {{ tabsize }}</font></p>

			<table>
				{% for i in range(1, pagescount+1) %}

					<tr>
						<button name="Page{{ i|safe }}" type="submit"
							{% if i == curpage %}
								DISABLED
							{% endif %}
						>{{ i|safe }}</button>
					</tr>

				{% endfor %}
			</table>

		</form>

	</center>

</body>