<head>
	<title>Обзор Расписания</title>
	<script type="text/javascript" src="../static/script/jquery.js"></script>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<form name="Overview" action="/overview" method='POST'>
		<button name="Back" type="submit">Вернуться</button>
		<center>
			<h1>Обзор Расписания</h1>
			<p></p>

			<font size=3>
				<table>
					
					<tr>
						<td>
							Собрать таблицу по столбцу:
						</td>
						<td>
							<select name="JoiningTableColumn">
								{% for col in columns %}
									<option value="{{col.title}}"
										{% if col == join_col %}
											SELECTED
										{% endif %}
									>
										{{col.title}}
									</option>
								{% endfor%}							
							</select>
						</td>
						<td>
							<select name="OrderTypeColumn">
								
								<option value="Не Сортировать" {% if join_col.ascending == None %} SELECTED {% endif %}>Не Сортировать</option>
								<option value="По Возрастанию" {% if join_col.ascending == True %} SELECTED {% endif %}>По Возрастанию</option>
								<option value="По Убыванию" {% if join_col.ascending == False %} SELECTED {% endif %}>По Убыванию</option>
								
							</select>
						</td>
					</tr>
					<tr>
						<td>
							Собрать таблицу по строке:
						</td>
						<td>
							<select name="JoiningTableRow">
								{% for col in columns %}
									<option value="{{col.title}}"
										{% if col == join_row %}
											SELECTED
										{% endif %}
									>
										{{col.title}}
									</option>
								{% endfor%}							
							</select>
						</td>
						<td>
							<select name="OrderTypeRow">
								
								<option value="Не Сортировать" {% if join_row.ascending == None %} SELECTED {% endif %}>Не Сортировать</option>
								<option value="По Возрастанию" {% if join_row.ascending == True %} SELECTED {% endif %}>По Возрастанию</option>
								<option value="По Убыванию" {% if join_row.ascending == False %} SELECTED {% endif %}>По Убыванию</option>
								
							</select>
						</td>
					</tr>

				</table>
				<button name="Accept" type="submit">Применить</button>

				<p></p>
				<table id="tab" class="tab">
					{% for width in widthes%}
						<col width="{{ width }}">
					{% endfor %}
					<tr class="elem">

						{% for i in range(titles|length) %}

							<th class="elem">
								<p align="center">
									<button name="Title{{ titles_origin[i] }}" type="submit">{{ titles[i] }}</button>
									{% if titles_origin[i] == orderby.name and orderby.ascending == True %}
										↓
									{% elif titles_origin[i] == orderby.name and orderby.ascending == False %}
										↑
									{% endif %}
								</p>
							</th>

						{% endfor %}
					</tr>
				</table>

				<p></p>
				<table id="tab" class="elem">
					<tr>
						<th>
							<p></p>
						</th>
						{% for i in jcols %}
							<th>
								{{i}}
							</th>
						{% endfor %}
					</tr>

					{% for row in jrows %}

						<tr>
							<th>{{row}}</th>
							{% for frow in range(table[row]|length) %}
								<td>
									{% for elements in table[row][frow] %}
										<center><table id="tab">
											<tr>
												<th>
													<p>{{row}}</p>
													<p>{{jcols[frow]}}</p>
												</th>
											</tr>
											{% for field in elements %}
												<tr>
													<td>{{field}}</td>
												</tr>
											{% endfor %}
										</table></center>
										<p></p>
									{% endfor %}
								</td>
							{% endfor %}
						</tr>

					{% endfor %}

				</table>
			</font>
		</center>
	</form>
</body>