<head>
	<title>Обзор Расписания</title>
	<script type="text/javascript" src="../static/script/jquery.js"></script>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<form name="Overview" action="/overview" method='POST'>
		<button name="Back" type="submit">Вернуться</button>
		<center>
			<!--p>Debug:</p-->
			<p id="titledebug"></p>
			<input id="DatabaseEditor" name="DatabaseEditor" value="" class="hiddenInput"/>
			
			<p></p>

			<h1>Обзор Расписания</h1>
			<p></p>


			<font size=3>
				<table>
					
					<tr>
						<td>
							Собрать таблицу по столбцу:
						</td>
						<td>
							<select name="JoiningTableColumns">
								{% for col in columns %}
									<option value="{{col.title}}"
										{% if col == join_col %}
											SELECTED
										{% endif %}
									>
										{{col.title}}
									</option>
								{% endfor%}							
							</select>
						</td>
						<td>
							<select name="OrderTypeColumns">
								
								<option value="Не Сортировать" {% if join_col.ascending == None %} SELECTED {% endif %}>Не Сортировать</option>
								<option value="По Возрастанию" {% if join_col.ascending == True %} SELECTED {% endif %}>По Возрастанию</option>
								<option value="По Убыванию" {% if join_col.ascending == False %} SELECTED {% endif %}>По Убыванию</option>
								
							</select>
						</td>
					</tr>
					<tr>
						<td>
							Собрать таблицу по строке:
						</td>
						<td>
							<select name="JoiningTableRows">
								{% for col in columns %}
									<option value="{{col.title}}"
										{% if col == join_row %}
											SELECTED
										{% endif %}
									>
										{{col.title}}
									</option>
								{% endfor%}							
							</select>
						</td>
						<td>
							<select name="OrderTypeRows">
								
								<option value="Не Сортировать" {% if join_row.ascending == None %} SELECTED {% endif %}>Не Сортировать</option>
								<option value="По Возрастанию" {% if join_row.ascending == True %} SELECTED {% endif %}>По Возрастанию</option>
								<option value="По Убыванию" {% if join_row.ascending == False %} SELECTED {% endif %}>По Убыванию</option>
								
							</select>
						</td>
					</tr>

				</table>
				<button id="Accept" name="Accept" type="submit">Применить</button>

				<p></p>
				<h3>Сортировка</h3>
				<table id="tab" class="tab">
					{% for width in widthes%}
						<col width="{{ width }}">
					{% endfor %}
					<tr class="elem">

						{% for i in range(titles|length) %}

							<th class="elem">
								<p align="center">
									<button name="Title{{ titles_origin[i] }}" type="submit">{{ titles[i] }}</button>
									{% if titles_origin[i] == orderby.name and orderby.ascending == True %}
										↓
									{% elif titles_origin[i] == orderby.name and orderby.ascending == False %}
										↑
									{% endif %}
								</p>
							</th>

						{% endfor %}
					</tr>
				</table>

				<p></p>
				<div class="divTable">
					<div class="divTableBody">
						
						<div class="divTableRow"> 
						
							<div class="divTableSideHead" style="width:{{join_row.width}}">
								<!--Nothing-->
							</div>
						
							{% for col in jcols %}

								<div class="divTableHead"> 
									<center>
										{{col|safe}}
									</center>
								</div>

							{% endfor %}
						</div>

						{% for row in jrows %}
							<div class="divTableRow"> 

								<div class="divTableSideCell">
									<p>
										{{row|safe}}
									</p>
									<p>
										<button name="HideRow{{row}}">
											{% if row in hides %}
												Раскрыть
											{% else %}
												Скрыть
											{% endif %}
										</button>
									</p>
								</div>

								{% for frow in range(table[row]|length) %}
								
									<div class="divTableCell">
										{% if row not in hides %}
											{% for elements in table[row][frow] %}
										
												<center>
													<div class="divDrag" name="Div{{elements}}">
														<div class="divDragger" name="Div{{elements}}">
															<p>
																{{row|safe}}
															</p>
															<p>
																{{jcols[frow]|safe}}
															</p>
														</div>
														<div class="divElements" name="Div{{elements}}">
															<p>
																<button name="HideField{{elements}}">
																	{% if elements in hides_fields %}
																		Раскрыть
																	{% else %}
																		Скрыть
																	{% endif %}
																</button>
															</p>
															{% if elements not in hides_fields %}
																{% for field in elements %}
																	<hr color="black" size="1"/>
																	<p>{{field|safe}}</p>
																{% endfor %}
															{% endif %}
															<p></p>
														</div>
													</div>
													<div class="divElements" name="Div{{elements}}" id="divRedBlock"></div>
													<p></p>

												</center>
											{% endfor %}
										{% endif %}
									</div>

								{% endfor %}

							</div>
						{% endfor %}
					</div>
				</div>

			</font>
		</center>
	</form>
	
	<script type="text/javascript" src="../static/script/dragging.js"></script>
</body>