<head>
	<title>База данных</title>
	<!--script type="text/javascript" src="../static/script/jquery.js"></script-->
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<center>

		<form name="Bases" action="/" method='GET'>
			
			<table>
				<tr>
				{% for item in items %}
					<th><a href="/table/{{ item }}">{{ item }}</a></th>
				{% endfor %}
				</tr>
			</table>

			<!--select name="List">
				<option value="{{ item }}" SELECTED>{{ item }}</option>
			</select-->
			<!--button name="go" type="submit">Перейти</button-->

		</form>


		{% if name %}
			<h1>Запрос {{ name }}</h1>
			<table id="tab">

				{% for width in widthes%}
					<col width="{{ width }}">
				{% endfor %}

				<tr id="elem">
				{% for title in heading %}
					<th id="elem">{{ title|safe }}</th>
				{% endfor %}	
				</tr>

				{% for items in table %}
				<tr id="elem">
					{{ items|safe }}
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<h1>Данная страница пуста</h1>
		{% endif %}

	</center>
</body>
