<head>
	<title>База данных</title>
	<!--script type="text/javascript" src="../static/script/jquery.js"></script-->
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<center>

		<form name="Bases" action="/" method='POST'>
			
			<!--<table>
				<tr>
				{% for item in items %}
					<th><a href="/table/{{ item }}">{{ item }}</a></th>
				{% endfor %}
				</tr>
			</table>-->
			<font size=3>
				<table>
					<tr>
						Таблица: 
						<select name="List">
							{% for item in items %}
								{% if item == selected %}
									<option value="{{ item }}" SELECTED>{{ item }}</option>
								{% else %}
									<option value="{{ item }}">{{ item }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</tr>
					<tr>
							Оператор: 
							<select name="MrgType">
								{% for mrg in mrg_list.keys() %}
									{% if mrg == mrg_id %}
										<option value="{{ mrg }}" SELECTED>{{ mrg }}</option>
									{% else %}
										<option value="{{ mrg }}">{{ mrg }}</option>
									{% endif %}
								{% endfor %}
							</select>
					</tr>
					<tr>
						Количество элементов на страницу:
						<select name="PageSize">
							{% for size in pglist %}
								{% if size == cursize %}
									<option value="{{ size }}" SELECTED>{{ size }}</option>
								{% else %}
									<option value="{{ size }}">{{ size }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</tr>
				</table>
			</font>

			<p>Запросы:</p>
			<table>

					<tr>
						<button name="plus" type="submit">+</button>
					</tr>
					{% if qcnt > 1 %}
						<tr>
							<button name="minus" type="submit">-</button>
						</tr>
					{% endif %}
			</table>
			<table>
				{% for i in range(qcnt) %}	
					<tr>

						<td>
							<select name="QueryColumn{{ i|safe }}">
								{% for title in qsel %}
									{% if i < qlen and title in queries[i].name %}
										<option value="{{ title }}" SELECTED>{{ title }}</option>
									{% else %}
										<option value="{{ title }}">{{ title }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
						<td>
							<select name="QueryCmp{{ i|safe }}">
								{% for cmp in cmp_list %}
									{% if i < qlen and queries[i].cmp == cmp %}
										<option value="{{ cmp }}" SELECTED>{{ cmp }}</option>
									{% else %}
										<option value="{{ cmp }}">{{ cmp }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>

						<td>
							<input name="QueryIn{{ i|safe }}" value=
								{% if i < qlen %}
									"{{queries[i].value}}"
								{% else %}
									""
								{% endif %}
							/>
						</td>

					</tr>

				{% endfor %}
			</table>


			<button name="go" type="submit">Перейти</button>


			{% if name %}
				<h1>Запрос {{ name }}</h1>
				<h5>Страница {{ curpg }}</h5>
				<table id="tab">

					{% for width in widthes%}
						<col width="{{ width }}">
					{% endfor %}

					<tr id="elem">
					{% for title in heading %}
						<th id="elem">
							<p align="center">
								<button name="Title{{ title }}" type="submit">{{ title }}</button>
							</p>
						</th>
					{% endfor %}	
					</tr>

					{% for items in table %}
					<tr id="elem">
						{{ items|safe }}
					</tr>
					{% endfor %}
				</table>
			{% else %}
				<h1>Данная страница пуста</h1>
			{% endif %}

			<h6>{{ low }}-{{ high }} из {{ tabsize }}</h6>

			<table>
				{% for i in range(1, count+1) %}
				<tr>
					<a href="/?table={{ selected|safe }}&count={{ cursize|safe }}&page={{ i|safe }}&query={{curquery|safe}}&mrg={{ mrg_list[mrg_id]|safe }}"> {{ i|safe }} </a>
				</tr>
				{% endfor %}
			</table>

		</form>

	</center>
</body>
